* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

/* smartphone (originale) */
/* HEADER*/
header {
  background-color: #0084fd;
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  margin: 0 auto;
}
.fa-solid {
  font-size: 30px;
}
.bar {
  display: none;
}
.bar ul {
  display: flex;
  gap: 20px;
  list-style-type: none;
  color: white;
}
.get_s {
  color: black;
  background-color: white;
  border-radius: 15px;
  padding: 5px;
}
/* HEADER */
/* /////////////////////////// */
/* sezione 1 */
.container {
  background-color: white;
  padding-top: 40px;
}
.box {
  text-align: center;
  margin: 0 auto;
  background-color: #b5ddff;
  width: 80%;
  padding: 20px 20px 0;
  border-radius: 25px;
  margin-bottom: 40px;
}
.titolo {
  padding-top: 30px;
  font-size: 20px;
  color: #0084fd;
  font-weight: bold;
}
.lorem {
  padding: 30px;
  font-weight: bold;
  opacity: 0.7;
}
.apple {
  margin-bottom: 30px;
  width: 70%;
  background-color: #0084fd;
  padding: 10px;
  border-radius: 20px;
  color: white;
  font-weight: bold;
}

.phone img {
  width: 80%;
}
.icona {
  font-size: 60px;
  color: #0084fd;
}

/* sezione 1 */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////   TABLET   ///////////////////////////////////////////////////////////////// */

/* sezione 1  */
/* sezione 1  */
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////   DESKTOP     /////////////////////////////////////////////////////////////////////  */

/* HEADER */
@media screen and (min-width: 768px) {
  .menu {
    width: 80%;
  }
  .bar {
    display: unset;
  }

  .hamburger {
    display: none;
  }
}

/* HEADER */
