* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

/* smartphone (originale) */
/* HEADER*/
header {
  background-color: #4a42ff;
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  margin: 0 auto;
}
.fa-solid {
  font-size: 30px;
}
.bar {
  display: none;
}
.bar ul {
  display: flex;
  gap: 20px;
  list-style-type: none;
  color: white;
}
.get_s {
  color: black;
  background-color: white;
  border-radius: 15px;
  padding: 5px;
}
/* HEADER */
/* /////////////////////////// */
/* sezione 1 */
.bianco {
  background-color: white;
}
.container {
  padding: 40px 0;
}
.box {
  text-align: center;
  margin: 0 auto;
  background-color: #b5ddff;
  width: 80%;
  padding: 20px 20px 0;
  border-radius: 25px;
  margin-bottom: 40px;
}
.titolo {
  padding: 20px 20px 0;
  font-size: 20px;
  color: #4a42ff;
  font-weight: bold;
}
.lorem {
  padding: 20px;
  font-weight: bold;
  opacity: 0.7;
}
.apple {
  margin-bottom: 30px;
  width: 50%;
  background-color: #0084fd;
  margin-right: 10px;
  padding: 10px;
  border-radius: 20px;
  color: white;
  font-weight: bold;
}

.phone img {
  width: 80%;
}
.icona {
  font-size: 60px;
  color: #0084fd;
}

/* sezione 1 */
/* sezione 2 */

.planning,
.app {
  background-color: #9f6fe8;
}
.strategic {
  width: 85%;
  margin: 0 auto;
}
.sopra {
  padding: 30px 0;
  color: white;
}

.strategic img {
  width: 100%;
}
.strategic h1 {
  padding: 30px 0;
}
.sotto {
  background-color: white;
  border-radius: 35px;
  text-align: center;
  font-style: italic;
  font-weight: lighter;
  padding: 30px 0;
}
.sotto p {
  margin: 20px 0;
}

.fa-arrow-down-long {
  padding: 12.5px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #9f6fe8;
  margin: auto;
  font-size: 20px;
}
/* sezione 2 */
/* sezione 3 */
.testimonials {
  background-color: white;
}
.col {
  width: 80%;
  margin: 0 auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 30px;
}
.col h1,
h3 {
  color: #9f6fe8;
}
.costumer {
  padding: 30px 10px 30px;
  margin-top: 40px;
  background-color: #9f6fe8;
  color: white;
  border-radius: 25px;
}
.text p {
  margin-bottom: 30px;
}
.nat {
  width: 100%;
}
/* sezione 3 */
/* sezione 4 */
.ben {
  background-color: #9f6fe8;
}
.benefits {
  background-color: #9f6fe8;
}
.benefits h1 {
  color: white;
}
.item {
  padding: 30px;
  text-align: unset;
  border-radius: 20px;
  margin-bottom: 30px;
}
.item h1 {
  color: #9f6fe8;
  font-size: 50px;
}
.button {
  background-color: #9f6fe8;
  width: 100px;
  border-radius: 20px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  color: white;
}
.button a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
/* section 4*/
/* section 5*/
.sample_text {
  padding: 40px;
}
.sample_text h1 {
  font-size: 40px;
  color: #9f6fe8;
}
.sample_text p {
  margin-top: 30px;
}
.i_help {
  padding: 20px 40px;
}
.about {
  margin-bottom: 20px;
}
.about img {
  width: 50%;
}
.i_help .button {
  margin-top: 20px;
  font-size: 12px;
  width: 180px;
  padding: 5px;
}
.i_help h2 {
  color: #9f6fe8;
}
/* section 5*/
/* footer */
footer {
  background-color: black;
}
.foot {
  text-align: center;
  padding: 20px;
  color: white;
  background-color: #363636;
  font-weight: bold;
  font-size: small;
}
.foot p {
  margin-bottom: 30px;
}
.foot a {
  color: #6c5390;
}
/* footer */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////   TABLET   ///////////////////////////////////////////////////////////////// */

/* sezione 1  */
@media screen and (min-width: 481px) {
  .container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .box {
    width: calc((100% / 3) - 10px);
    margin: 5px 5px;
  }
  .special {
    width: calc((100% / 1.5) - 10px);
    text-align: unset;
  }
  /* sezione 3  */
  .costumer {
    flex-direction: row;
    align-items: center;
    text-align: unset;
  }
  /* sezione 4 */
  .item {
    width: calc((100% / 2) - 40px);
    margin: 20px;
  }
  /* sezione 5 */
  .bianco {
    flex-wrap: unset;
  }
  .sample_text {
    flex-basis: 60%;
  }
  .i_help {
    flex-basis: 40%;
  }

  /* FOOTER */
  footer {
    width: 100%;
    background-color: #363636;
  }
  .foot {
    width: 70%;
    margin: 0 auto;
  }
}
/* sezione 1  */

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////   DESKTOP     /////////////////////////////////////////////////////////////////////  */

/* HEADER */
@media screen and (min-width: 769px) {
  .menu {
    width: 80%;
  }
  .bar {
    display: unset;
  }

  .hamburger {
    display: none;
  }
  /* sezione 1 */
  .container {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  .box {
    width: calc((100% / 3) - 10px);
    margin: 5px 5px;
  }
  .special {
    width: calc((100% / 1.5) - 10px);
    display: flex;
  }

  .phone img {
    width: 100%;
  }
  /* sezione 2 */
  .planning {
    width: 50%;
    align-items: last baseline;
  }
  .strategic {
    width: 40%;
  }
  .sopra h1 {
    padding-top: 90px;
  }
  .sotto h1 {
    padding: 0;
  }
  /* sezione 4  */

  .benefits {
    width: 80%;
  }
  .item {
    width: calc((100% / 3) - 60px);
    margin: 20px;
  }
}

/* HEADER */
